<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="main.css">
    <!-- <meta http-equiv="refresh" content="15"> -->
</head>

<body>
    <div class="container">

        <form method="post" action="../control/login.php">
            <header>
                <h1>Login</h1>
            </header>
            <div class="row">
                <label>Email</label>
                <input type="email" placeholder="blahblah@blah.com" required="" id="email" name="email">
            </div>
            <div class="row">
                <label>Password</label>
                <input type="password" placeholder="" required="" id="password" name="password">
            </div>
            <button class="button"> Login </button>
        </form>
    </div>
</body>

</html>