<!DOCTYPE html>
<html>

<head>
  <title>Sign Up Page</title>
  <link rel="stylesheet" href="main.css">
  <meta http-equiv="refresh" content="15">
</head>

<body>
  <div class="container">

    <form method="post" action="signup.php">
      <header>
        <h1>Sign Up Form</h1>
      </header>
      <section id="login" class="content">
        <div class="row">
          <label>First Name</label>
          <input type="text" placeholder="Reptar" required="" id="firstn" name="name" />
        </div>

        <div class="row">
          <label>Last Name</label>
          <input type="text" placeholder="Smith" required="" id="lastn" name="name" />
        </div>

        <div class="row">
          <label>Email</label>
          <input type="email" placeholder="blahblah@blah.com" required="" id="email" name="contact">
        </div>
        <div class="row">
          <label>Phone</label>
          <input type="tel" placeholder="999-322-2938" required="" id="phone" name="contact">
        </div>
        <div class="row">
          <label>Gender</label>
          <input type="text" placeholder="Squid" id="gender" name="gender">
        </div>
        <div class="row">
          <label>Birthday</label>
          <input type="date" id="birthday" name="info">
        </div>
        <div>
          <button class="button"> Sign Up </button>
        </div>
    </form>
</body>

</html>